<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2011 Vodafone Group Duesseldorf

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
  
          http://www.apache.org/licenses/LICENSE-2.0
  
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vodafone.twitter">
  <application android:label="AlwaysOnTwitter">
    <service android:name=".service.TwitterService" />
    <receiver android:name="service.TwitterService$RepeatingAlarmReceiver" />

    <activity android:name=".client.AlwaysOnTwitter" 
              android:configChanges="orientation|keyboardHidden"
            	android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <action android:name="com.vodafone.twitter.service.TwitterNewEntry" />
      </intent-filter>
    </activity>

    <activity android:name=".service.OAuthActivity" 
              android:configChanges="orientation|keyboardHidden">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
  </application>

  <supports-screens android:largeScreens="true" 
                    android:anyDensity="true" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="11" />  <!-- see: default.properties -->
</manifest>

